{% extends "base.html" %}

{% block title %}Registrar software{% endblock %}

{% block content %}
<br>
<hr>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-success">Registrar</button>
	</form>
	{{ Mensaje }}
{% endblock %}