{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static	'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
	<title>{% block title %}Index{% endblock %}</title>
</head>
<body>
	{% block content %}
	
	<h1>Bienvenido al registro de software de la empresa Parra's Inc.</h1>
	<h2>Elija una opción: </h2>
	{% endblock %}

	<br>
	<hr>
	<div id="registrarSoftware" style="text-align: center;">
  		<a class="btn btn-large btn-success" href="registrar/">Registrar software</a>
	</div>

	<br>
	<div id="registrarDepartamento" style="text-align: center;">
  		<a class="btn btn-large btn-info" href="registrarD/">Registrar departamento</a>
	</div>

	<br>
	<div id="Directorio" style="text-align: center;">
  		<a class="btn btn-large btn-warning" href="lista/">Directorio</a>
	</div>

</body>
</html>
