{% extends "base.html" %}
{% block title %}Lista de software{% endblock %}

{% block content %}
	<h1>Nombre</h1>
	{% for software in listaSoftware %}
	<table>
		<tr>
			<th>{{ software.nombre }}</th>
		</tr>
	</table>		
	{% endfor %}

	<h1>Función</h1>
	{% for software in listaSoftware %}
	<table>
		<tr>
			<th>{{ software.funcion }}</th>
		</tr>
	</table>
	{% endfor %}

	<h1>Departamento</h1>
	{% for software in listaSoftware %}
	<table>
		<tr>
			<th>{{ software.departamento }}</th>
		</tr>
	</table>		
	{% endfor %}
{% endblock%}