{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static	'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>

<h1>Parra's Inc.</h1>

<div id="browse_app">
  <a class="btn btn-large btn-info" href="/">Inicio</a>
</div>
<br>
<hr>
{% block content %}

{% endblock %}
</body>
</html>